html {
    background-color: #232323;
    color: white;
    font-family: 'Montserrat', serif;
    margin-left: auto;
    margin-right: auto;
}

input {
    font-family: 'Montserrat', serif;
}

.container {
    width: 500px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    animation-name: slideIn;
    animation-duration: 0.5s;
    overflow: hidden;
    border-radius: 6px;
}

@keyframes slideIn {
    0% {
        margin-top: -800px;
    }

    50% {
        margin-top: 25px;
    }

    80% {
        margin-top: 15px;
    }

    100% {
        margin-top: 20px;
    }
}

@keyframes slideOut {
    0% {
        margin-top: 20px;
    }

    30% {
        margin-top: 35px;
    }

    100% {
        margin-top: -800px;
    }
}

.container.slideOut {
    animation-name: slideOut;
    animation-duration: 0.5s;
}

@media (max-width: 600px) {
    .container {
        width: 85%;
    }
}

.playerInfo {
    width: 100%;
    display: block;
    border: 0;
    box-shadow: white;
    border-top: 1px solid white;
}

.inputName {
    width: 100%;
    height: 100%;
    font-size: 40px;
    background: transparent;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row {
    height: auto;
    width: 100%;
    font-size: 32px;
    position: relative;
    word-wrap: break-word;
    box-shadow: 1px 1px white;
}

.hotKeyColumn1 {
    height: 50px;
    width: 30%;
    font-size: 32px;
    box-shadow: 1px 1px white;
    float: left;
    overflow: hidden;
}

.hotKeyColumn2 {
    height: 50px;
    width: 70%;
    font-size: 32px;
    box-shadow: 1px 1px white;
    float: left;
    overflow: hidden;
}

.menuButton {
    height: 30px;
    width: 120px;
    margin: 10px 30px;
    font-size: 20px;
    outline: none;
}

.menuButton:hover,
.threeColumns>input[type=button]:hover {
    background-color: #ccc;
}

.displayHotkey {
    height: 30px;
    width: 170px;
    margin: 10px 10px;
    font-size: 20px;
}

.keyHover:hover {
    margin-left: 1px;
    width: 69.7%;
    text-align: center;
    background-color: #444;
    box-shadow: -1px -1px white, 0px 1px white;
}

.hotKeyArrow {
    height: 30px;
    position: relative;
    top: 10px;
    margin: auto 5px;
    font-size: 24px;
}

.keyInput {
    height: 26px;
    width: 170px;
    font-size: 20px;
    margin: 10px 10px;
    position: relative;
    right: 14%;
    float: right;
    background-color: transparent;
    color: white;
    text-align: center;
}

.hotKeyArrowCheck {
    height: 30px;
    margin: auto 0px;
    position: relative;
    right: 5%;
    top: 10px;
    float: right;
    border-radius: 6px;
}

.invisible {
    display: none;
}

.characterSelection {
    height: 150px;
    width: 25%;
    float: left;
    box-shadow: 1px 1px white, -1px -1px white;
    font-size: 20px;
}

.characterSelection>input[type=radio] {
    display: none;
}

#red {
    background-color: #d00;
}

/* #red:hover {
    background-color: #a00;
    red.style.filter = 'brightness(75%)';
} */

#blue {
    background-color: #00d;
}

/* #blue:hover {
    background-color: #00a;
} */

#pink {
    background-color: #d0d;
}

/* #pink:hover {
    background-color: #a0a;
} */

#gray {
    background-color: #999;
}

/* #gray:hover {
    background-color: #777;
} */

.fourRows {
    height: 50.5px;
    box-shadow: 1px 1px white;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startMenuButtons {
    height: 100%;
    width: 100%;
    margin-top: 1px;
    font-size: 20px;
    outline: none;
}

#playerReadyCount {
    text-align: center;
    cursor: default;
}

.threeColumns {
    height: 50px;
    width: 33.33%;
    width: calc(100%/3);
    float: left;
    box-shadow: -1px 0 white;
}

#containerStartMenu {
    width: 600px;
}

.left {
    float: left;
    width: 30%;
    box-shadow: 0 1px white;
}

.right {
    float: left;
    width: 70%;
    box-shadow: 1px 1px white, -1px -1px white;
}

#joinRoom {
    position: relative;
    right: 20px;
}

#lobbyFinderRoom>input[type=number] {
    background-color: transparent;
    color: white;
    text-align: center;
}

.borderBottom {
    box-shadow: 0 1px white;
    font-size: 24px;
}

.lobbyRoomsTitle {
    font-size: 30px;
    background-color: white;
    color: black;
    border: 1px solid black;
}