html {
    background-color: #232323;
    color: white;
    font-family: 'Montserrat', serif;
    margin-left: auto;
    margin-right: auto;
}

input {
    font-family: 'Montserrat', serif;
}

.container {
    width: 500px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    animation-name: slideIn;
    animation-duration: 0.5s;
    overflow: hidden;
}

@keyframes slideIn {
    0% {
        margin-top: -300px
    }

    70% {
        margin-top: 30px;
    }

    100% {
        margin-top: 20px;
    }
}

@keyframes slideOut {
    0% {
        margin-top: 20px;
    }

    30% {
        margin-top: 30px;
    }

    99% {
        margin-top: -300px;
    }

    100% {
        margin-top: -1200px;
    }
}

.container.slideOut {
    animation-name: slideOut;
    animation-duration: 0.5s;
}

@media (max-width: 600px) {
    .container {
        width: 85%;
    }
}

.playerInfo {
    width: 100%;
    display: block;
    border: 0;
    box-shadow: white;
    border-top: 1px solid white;
}

.inputName {
    width: 100%;
    height: 100%;
    font-size: 40px;
    background: transparent;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row {
    height: auto;
    width: 100%;
    font-size: 32px;
    position: relative;
    word-wrap: break-word;
    box-shadow: 0 1px white;
}

.hotKeyColumn1 {
    height: 50px;
    width: 30%;
    font-size: 32px;
    box-shadow: 1px 1px white;
    float: left;
    overflow: hidden;
}

.hotKeyColumn2 {
    height: 50px;
    width: 70%;
    font-size: 32px;
    box-shadow: 1px 1px white;
    float: left;
    overflow: hidden;
}

.rowColor {
    height: 32px;
    width: 25%;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: block;
    text-align: start;
    text-indent: 35px;
    box-shadow: 1px 1px white;
    float: left;
    font-size: 24px;
}

.rowColor input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 12.5px;
    width: 12.5px;
    background-color: #eee;
    border-radius: 50%;
    margin: 10px 10px;
}

.rowColor:hover input~.radio {
    background-color: #ccc;
}

.rowColor input:checked~.red {
    background-color: rgb(180, 34, 34);
}

.rowColor input:checked~.blue {
    background-color: rgb(54, 95, 146);
}

.rowColor input:checked~.pink {
    background-color: rgb(207, 46, 186);
}

.rowColor input:checked~.gray {
    background-color: rgb(99, 91, 91);
}

.radio:after {
    content: '';
    position: absolute;
    display: none;
}

.rowColor input:checked~.radio:after {
    display: block;
}

.rowColor .radio:after {
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.menuButton {
    height: 30px;
    width: 120px;
    margin: 10px 40px;
    font-size: 20px;
}

.displayHotkey {
    height: 30px;
    width: 170px;
    margin: 10px 10px;
    font-size: 20px;
}

.menuButton:hover {
    background-color: #ccc;
}

.keyHover:hover {
    margin-left: 1px;
    width: 69.7%;
    text-align: center;
    background-color: #444;
    box-shadow: -1px -1px white, 0px 1px white;
}

.hotKeyArrow {
    height: 30px;
    position: relative;
    top: 10px;
    margin: auto 5px;
    font-size: 24px;
}

.keyInput {
    height: 26px;
    width: 170px;
    font-size: 20px;
    margin: 10px 10px;
    position: relative;
    right: 14%;
    float: right;
    background-color: transparent;
    color: white;
    text-align: center;
}

.hotKeyArrowCheck {
    height: 30px;
    margin: auto 0px;
    position: relative;
    right: 5%;
    top: 10px;
    float: right;
}

.invisible {
    display: none;
}